.button {
    background: none;
    border: none;
    color: transparent;
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0;
    outline: none;
    text-decoration: none;
    text-transform: none;
}

.button:hover {
    cursor: pointer;
}

.primary {
    background: var(--button-primary-background);
    color: var(--button-primary-color);
}

.primary:hover {
    background: var(--button-primary-background-hover, var(--button-primary-background));
}

.small {
    padding: var(--button-small-padding);
}

.medium {
    padding: var(--button-medium-padding);
}

.large {
    padding: var(--button-large-padding);
}

.xlarge {
    padding: var(--button-xlarge-padding);
}