.button {
    background: none;
    border: none;
    color: #333;
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0;
    outline: none;
    text-decoration: none;
    text-transform: none;
}

.button:hover {
    cursor: pointer;
}

.primary {
    background: var(--button-primary-background);
    color: var(--button-primary-color);
}

.primary:hover {
    background: var(--button-primary-background-hover, var(--button-primary-background));
}

.secondary {
    background: var(--button-secondary-background);
    color: var(--button-secondary-color);
}

.secondary:hover {
    background: var(--button-secondary-background-hover, var(--button-secondary-background));
}

.success {
    background: var(--button-success-background);
    color: var(--button-success-color);
}

.success:hover {
    background: var(--button-success-background-hover, var(--button-success-background));
}

.error {
    background: var(--button-error-background);
    color: var(--button-error-color);
}

.error:hover {
    background: var(--button-error-background-hover, var(--button-error-background));
}

.info {
    background: var(--button-info-background);
    color: var(--button-info-color);
}

.info:hover {
    background: var(--button-info-background-hover, var(--button-info-background));
}

.light {
    background: var(--button-light-background);
    color: var(--button-light-color);
}

.info:hover {
    background: var(--button-light-background-hover, var(--button-light-background));
}

.dark {
    background: var(--button-dark-background);
    color: var(--button-dark-color);
}

.dark:hover {
    background: var(--button-dark-background-hover, var(--button-dark-background));
}

.small {
    padding: var(--button-small-padding);
}

.medium {
    padding: var(--button-medium-padding);
}

.large {
    padding: var(--button-large-padding);
}

.xlarge {
    padding: var(--button-xlarge-padding);
}