:host {
    --color-primary: #3485FD;
    --color-secondary: #495057;
    --color-success: #20C997;
    --color-error: #DC3545;
    --color-info: #6610F2;
    --color-light: #F8F9FA;
    --color-dark: #343A40;
    --button-color: #333;
    --button-font-family: Arial, Helvetica, sans-serif;
    --button-font-size: 1rem;
    --button-text-transform: none;
    --button-primary-background: var(--color-primary);
    --button-primary-color: #FFF;
    --button-secondary-background: var(--color-secondary);
    --button-secondary-color: #FFF;
    --button-success-background: var(--color-success);
    --button-success-color: #212529;
    --button-error-background: var(--color-error);
    --button-error-color: rgb(134, 46, 46);
    --button-info-background: var(--color-info);
    --button-info-color: #FFF;
    --button-light-background: var(--color-light);
    --button-light-color: #212529;
    --button-dark-background: var(--color-dark);
    --button-dark-color: #FFF;
    --button-small-padding: 0.5rem 0.7rem;
    --button-medium-padding: 0.8rem 1rem;
    --button-large-padding: 1rem 1.2rem;
    --button-xlarge-padding: 1.6rem 1.6rem;
}